295_venv/
.env
venv/
earthquake.json
earthquake.log
references/airflow_quickstart/airflow/logs/
references/airflow_quickstart/airflow/standalone_admin_password.txt
api_venv/
.DS_Store
chroma_store/
firebase_utilities/emergency-news-delivery-firebase-adminsdk-2tiy5-34f226f552-copy1.json
firebase_utilities/veracity-a7ee2-firebase-adminsdk-kt14x-f52eaf36fd.json
/apis/__pycache__/